form, * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.ezforms-h1, .ezforms-h2, .ezforms-h3, .ezforms-h4, .ezforms-h5, .ezforms-h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  padding: 0px;
  margin: 0px; }

form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: auto; }
  form .ezforms-h1, form .ezforms-h2, form .ezforms-h3, form .ezforms-h4, form .ezforms-h5, form .ezforms-h6 {
    flex-grow: 16;
    flex-basis: 100%; }

button {
  padding: 10px 15px 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #9b9b9b; }

button:hover {
  cursor: pointer; }

textarea {
  width: 100%; }

label {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px; }

input[type=text], input[type=password], input[type=email], input[type=tel], input[type=file], input[type=number], input[type=url], textarea {
  padding: 6px;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif; }

input[type=color] {
  height: 32px;
  width: 48px;
  padding: 2px;
  border-width: 1px; }

input[type=date], input[type=datetime-local], input[type=time], input[type=month], input[type=week] {
  padding: 3px;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif; }

input[type=range] {
  margin-top: 3px; }

input[type=radio] {
  display: inline-block; }

input:not([type=checkbox]):not([type=radio]):not([type=file]) {
  height: 33px; }

select {
  margin: 1px 0px 0px 0px;
  font-size: 16px;
  width: 100%;
  -webkit-appearance: menulist-button; }

select:not([multiple]) {
  height: 33px; }

select[multiple] {
  font-size: 16px;
  -webkit-appearance: none;
  background: white; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-13, .col-14, .col-15, .col-16 {
  margin-bottom: 15px;
  padding-right: 10px;
  flex-grow: 0;
  flex-shrink: 0; }

.col-1 {
  flex-basis: 6.25%; }

.col-2 {
  flex-basis: 12.5%; }

.col-3 {
  flex-basis: 18.75%; }

.col-4 {
  flex-grow: 0;
  flex-basis: 25%; }

.col-5 {
  flex-basis: 31.25%; }

.col-6 {
  flex-basis: 37.5%; }

.col-7 {
  flex-basis: 43.75%; }

.col-8 {
  flex-basis: 50%; }

.col-9 {
  flex-basis: 56.25%; }

.col-10 {
  flex-basis: 62.5%; }

.col-11 {
  flex-basis: 68.75%; }

.col-12 {
  flex-basis: 75%; }

.col-13 {
  flex-basis: 81.25%; }

.col-14 {
  flex-basis: 87.5%; }

.col-15 {
  flex-basis: 93.75%; }

.col-16 {
  flex-basis: 100%; }

.options-horizontal, .options-vertical {
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  -o-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.options-horizontal {
  height: 34px;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  align-items: center; }

.options-vertical {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  align-items: flex-start; }

.options-horizontal > div, .options-vertical > div {
  padding: 0px 5px 0px 5px; }
  .options-horizontal > div label, .options-vertical > div label {
    display: inline-block;
    font-weight: normal;
    margin-bottom: 5px; }

.options-horizontal > div {
  display: inline-block; }

.options-vertical > div {
  display: block; }

button {
  margin-top: 10px; }

.alert-error, .alert-warning, .alert-info, .alert-success {
  width: 100%;
  border-radius: 10px;
  padding: 15px 10px 15px 10px;
  font-family: Arial, Helvetica, sans-serif; }

.alert-error {
  color: #c60d26;
  border: 1px solid rgba(198, 13, 38, 0.4);
  background-color: rgba(198, 13, 38, 0.3); }

.alert-warning {
  color: #d77d00;
  border: 1px solid rgba(215, 125, 0, 0.4);
  background-color: rgba(215, 125, 0, 0.3); }

.alert-info {
  color: #0087e1;
  border: 1px solid rgba(0, 135, 255, 0.4);
  background-color: rgba(0, 135, 255, 0.3); }

.alert-success {
  color: #328427;
  border: 1px solid rgba(50, 132, 39, 0.4);
  background-color: rgba(50, 132, 39, 0.3); }

.octicon-alert {
  fill: #c60d26;
  margin-bottom: -2px; }

.octicon-issue-opened {
  fill: #ff9400;
  margin-bottom: -3px; }

.octicon-question {
  fill: #0087ff;
  margin-bottom: -3px; }

.octicon-check {
  fill: #328427;
  margin-bottom: -4px; }

button[type=reset] {
  color: white;
  background: #e10000; }

button[type=reset]:hover {
  background: rgba(225, 0, 0, 0.8); }

button[type=button] {
  color: white;
  background: #7d7d7d; }

button[type=button]:hover {
  background: rgba(125, 125, 125, 0.8); }

button[type=submit] {
  color: white;
  background: #446e9b; }

button[type=submit]:hover {
  background: rgba(68, 110, 155, 0.8); }

/*# sourceMappingURL=ezforms.css.map */
